@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  background-color: rgb(38, 38, 38);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="text"]:focus {
  box-shadow: none;
}

.grid-mods,
.grid-mods-thumbs,
.grid-mods-author,
.grid-mods-thumbs-author {
  grid-template-columns: 57px 80px 1fr 1fr;
}

.grid-column-4,
.grid-column-5,
.grid-column-6,
.grid-column-7 {
  grid-column: span 4 / span 4;
}

@media (min-width: 1024px) {
  .grid-mods {
    grid-template-columns: 57px 80px 1fr 1fr 0.5fr;
  }
  .grid-mods-thumbs {
    grid-template-columns: 57px 80px max-content 1fr 1fr 0.5fr;
  }
  .grid-mods-author {
    grid-template-columns: 57px 80px 1fr 1fr 0.5fr 0.5fr;
  }
  .grid-mods-thumbs-author {
    grid-template-columns: 57px 80px max-content 1fr 1fr 0.5fr 0.5fr;
  }

  .grid-column-4 {
    grid-column: span 4 / span 4;
  }
  .grid-column-5 {
    grid-column: span 5 / span 5;
  }
  .grid-column-6 {
    grid-column: span 6 / span 6;
  }
  .grid-column-7 {
    grid-column: span 7 / span 7;
  }

  .bigger-checkbox {
    transform: scale(1.15) !important;
  }
}

.bigger-checkbox {
  transform: scale(1);
}

.drop-ghost {
  border: 3px dotted #666;
  width: 100%;
}

.row {
  display: contents;
}

.row div {
  padding: 0.25rem;
}

.row-bg-color-manually > :not(.drop-ghost) {
  background-color: #525252;
}

body:not(.disable-row-hover) .row:hover div:not(.drop-ghost) {
  background-color: #525252;
}

body:not(.disable-row-hover) .row:hover > div:not(.drop-ghost) {
  box-shadow: inset 0 1px 0 #71717a, 0 1px 0 hsla(0, 0%, 0%, 0.5);
}

@media (max-width: 1024px) {
  .grid-area-autohide {
    display: none;
  }
}

.make-tooltip-w-full > div:first-of-type {
  width: 100%;
}

.make-tooltip-inline > div:first-of-type {
  display: inline;
}

.mod-row-header {
  background-color: #404040;
  padding: 0.5rem;
  position: sticky;
  top: 1.25rem;
}

#top-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.parent-unhide-child .hidden-child {
  display: none;
}
.parent-unhide-child:hover .hidden-child {
  display: initial;
}

#webpack-dev-server-client-overlay {
  display: none;
}

.handsontable th div.ht_nestingButton.ht_nestingCollapse:after {
  display: none;
}

.handsontable td {
}

.my-cell {
  width: 1px;
  height: 1px;
  display: none;
}

.categories-path-cell {
  overflow: hidden;
}

#left-sidebar li {
  outline: none;
}

.ht_clone_inline_start.ht_clone_left.handsontable {
  display: none;
}

.handsontable .ht_clone_inline_start thead,
.handsontable .ht_master thead,
.handsontable .ht_master tr th {
  visibility: visible !important;
}

.disable-border .htBorders {
  display: none !important;
}

.border-slate-100-opacity-6 {
  border-color: rgba(241 245 249 / 0.6);
}

.expandable-panel-rounded-border {
  scroll-padding-top: 2rem;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  padding: 0.5rem;
  border-bottom-left-radius: 5%;
  border-width: 2px 0px;
  border-bottom-right-radius: 5%;
  padding-bottom: 1rem;
}

.icon-color-on-hover:hover {
  border-color: #394250;
}

.icon-color-on-hover:hover > svg {
  color: #394250;
}
