@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  padding: 2rem 4rem;
  max-width: 100rem;
}

.grida > * {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="text"]:focus {
  box-shadow: none;
}

.grid-mods {
  //grid-template-areas: "enabled packName packName packName packName packName humanName humanName humanName humanName humanName";
  grid-template-columns: 80px 1fr 1fr;
}

@media (min-width: 1024px) {
  .grid-mods {
    grid-template-columns: 80px 1fr 1fr 0.5fr;
    //grid-template-areas: "enabled packName packName packName packName packName humanName humanName humanName humanName humanName lastUpdated lastUpdated lastUpdated lastUpdated";
  }
}

.row {
  display: contents;
}

.row {
  display: contents;
}

.row div {
  padding: 0.25rem;
}

.row:hover div {
  background-color: rgb(203 213 225);
}
.grid-area-enabled {
  //grid-area: enabled;
}
.grid-area-enabled div {
  //grid-area: enabled;
  //display: inline-block;
}
.grid-area-packName {
  //grid-area: packName;
}
.grid-area-humanName {
  //grid-area: humanName;
}
.grid-area-lastUpdated {
  //grid-area: lastUpdated;
}

@media (max-width: 1024px) {
  .grid-area-lastUpdated {
    display: none;
  }
}
