@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: auto;
  padding: 2rem 4rem;
  max-width: 100rem;
  background-color: rgb(38, 38, 38);
}

.grida > * {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="text"]:focus {
  box-shadow: none;
}

.grid-mods {
  //grid-template-areas: "enabled packName packName packName packName packName humanName humanName humanName humanName humanName";
  grid-template-columns: 57px 80px 1fr 1fr;
}

@media (min-width: 1024px) {
  .grid-mods {
    grid-template-columns: 57px 80px 1fr 1fr 0.5fr;
    //grid-template-areas: "enabled packName packName packName packName packName humanName humanName humanName humanName humanName lastUpdated lastUpdated lastUpdated lastUpdated";
  }
}

.drop-ghost {
  border: 3px dotted #666;
  width: 100%;
  height: 2rem;
  grid-column: span 4 / span 4;
}

@media (min-width: 1024px) {
  .drop-ghost {
    border: 3px dotted #666;
    width: 100%;
    height: 2rem;
    grid-column: span 5 / span 5;
  }
}

.row {
  display: contents;
}

.row div {
  padding: 0.25rem;
}

.row-bg-color-manually > * {
  background-color: #525252;
}

body:not(.disable-row-hover) .row:hover div {
  background-color: #525252;
}

body:not(.disable-row-hover) .row:hover > div {
  box-shadow: inset 0 1px 0 #71717a, 0 1px 0 hsla(0, 0%, 0%, 0.5);
}

@media (max-width: 1024px) {
  .grid-area-lastUpdated {
    display: none;
  }
}

.make-tooltip-w-full > div:first-of-type {
  width: 100%;
}

.mod-row-header {
  background-color: #404040;
  padding: 0.5rem;
}
